body{
    background: #d6c9b3;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho{
    background-image: url(../imagens/Imagem\ editada.jpg);
    height: 500px;
    background-size: cover;
    padding-top: 1px;
}
.div-cabecalho{
  /*background-color: aqua*/

  margin:100px auto 0 auto;
  width:80%;
  text-align:center;
  color:#372609
}

.div-cabecalho h1{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb rgba(0, 0, 0, 0.5);
}
.div-cabecalho a{
    background-color: #372609;
    color:#d6c9b3;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}
.div-cabecalho a:hover{
    background-color:#d6c9b3;
    color:#372609;
}
.cabecalho nav ul{
    
    margin:25px 40px 0 0;
    text-align: right;
}
.cabecalho nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}
.cabecalho nav a{
    color:#d6c9b3;
    text-decoration: none;
    background-color: #372609;
    padding:5px;
    border-radius: 5px;
}
.cabecalho nav a:hover{
    background-color:#d6c9b3;
    color:#372609;
}
main{
    width:90%;
    margin: auto;
}
